@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/* - Mobile: 375px */
/* - Desktop: 1440px */


:root {
    /* Primary */
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);

    /* Neutral */
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

html {
    font-size: 16px;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    background-color: var(--pale-blue);
    display: grid;
    place-items: center;

}

#card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    inset: 0;
    width: 450px;
    height: 697px;
    margin:  auto;
    align-items: center;
    background-color: white;
    border-radius: 1.25em;
    overflow: hidden;
}

img {
    width: inherit;
}

.content {
    margin-left: 3em;
    margin-right: 3em;
    width: -moz-calc(100% - 6em);
    width: -webkit-calc(100% - 6em);
    width: -o-calc(100% - 6em);
    width: calc(100% - 6em);
}
h1 {
    font-size: 175%;
    text-align: center;
    margin-top: 1.6em;
    color: var(--dark-blue);
    font-weight: 900;

    /* outline: 1px solid; */
}

p {
    text-align: center;
    margin-top: .1em;
    color: var(--desaturated-blue);
}

section {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 1.25em 1.5em;
    height: 6.125em;    
    background-color: var(--very-pale-blue);
    border-radius: .7em;
    margin-bottom: 1em;

    /* outline: 1px solid; */
}

section > * {
    outline: 1px solid;
}
section img {
    width: 3em;
    height: 3em;
}
section p {
    display: inline-block;
    margin: 0 1.25em;
    height: 3.5em;
    line-height: 1.5em;
    /* outline: 1px solid; */
}

section p span{
    display: block;
    color: var(--dark-blue);
    font-weight: bold;
    padding-bottom: .25rem;
}
section a {
    margin-left: auto;
    margin-right: 0;
    padding: 0;
    color: var(--bright-blue);
    font-size: .875rem;
    text-decoration: underline;
    font-weight: bold;
    /* outline: 1px solid; */
}

section a:hover {
    color: var(--desaturated-blue);
    text-decoration: none;
}

button {
    height: 3.125em;
    background-color: var(--bright-blue);
    color: white;
    font-size: 0.9375em;
    word-spacing: 0;
    border-radius: 0.6875em;
    margin: 1em auto;
    font-weight: 900;
    /* outline: 1px solid;outline: 1px solid; */
}

button:hover {
    background-color: var(--desaturated-blue);

}

a {
    text-align: center;
    text-decoration: none;
    font-size: 0.9375em;
    color: var(--desaturated-blue);
    margin: 1em auto;
    word-spacing: 0;
    font-weight: 900;
}

a:hover {
    color: var(--dark-blue);
}

